<br />

<div>
  <input matInput [(ngModel)]="searchText" placeholder="Enter jobs, company or city" autocomplete="off" type="text"
    class="form-control" />
</div>

<br />

<div class="card-group" *ngFor="let item of pageOfItems | filter: searchText">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ item.Website }}">{{ item.Title }} | {{ item.Company }}</a>
      </h5>
      <p class="card-text">
        <span class="badge badge-primary">{{
          convertFulltime(item.Fulltime)
        }}</span>
        <span class="badge badge-success">{{
          convertInternship(item.Internship)
        }}</span>
        <span class="badge badge-warning">{{
          convertParttime(item.Parttime)
        }}</span>
        <small class="text-muted"> {{ item.City }} {{ item.Country }}</small>
      </p>
      <p class="card-text">
        {{ truncateText(item.Summary, 200) }}
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated: {{ item.ScrapeDate | date }} Source :
          {{ item.Source }}</small>
      </p>
      <button [routerLink]="['/edit', item._id]" class="btn btn-primary btn-sm">
        Edit
      </button>
      <button (click)="deleteJob(item._id)" class="btn btn-danger btn-sm">
        Delete
      </button>
    </div>
  </div>
</div>
<jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>