<div>
  <button (click)="deleteJobs()" class="btn btn-danger btn-sm">
    Delete {{ jobsLength }} Jobs
  </button>
</div>
<br />
<div class="card-group" *ngFor="let job of jobs">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ job.Website }}">{{ job.Title }}</a>
      </h5>
      <p class="card-text">
        <span class="badge badge-primary">{{
          convertFulltime(job.Fulltime)
        }}</span>
        <span class="badge badge-success">{{
          convertInternship(job.Internship)
        }}</span>
        <span class="badge badge-warning">{{
          convertParttime(job.Parttime)
        }}</span>
        <small class="text-muted"> {{ job.City }} {{ job.Country }}</small>
      </p>
      <p class="card-text">
        {{ truncateText(job.Summary, 200) }}
      </p>
      <p class="card-text">
        <small class="text-muted"
          >Last updated: {{ job.ScrapeDate | date }} Source :
          {{ job.Source }}</small
        >
      </p>
      <button [routerLink]="['/edit', job._id]" class="btn btn-primary btn-sm">
        Edit
      </button>
      <button (click)="deleteJob(job._id)" class="btn btn-danger btn-sm">
        Delete
      </button>
    </div>
  </div>
</div>
