<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to IMI Map!</h1>
    <p class="lead text-muted">
      Find your dream Internship!
    </p>
    <p>
      <button
        class="btn btn-primary mr-1"
        routerLink="/register"
        routerLinkActive="active-list-item"
      >
        SIGN UP
      </button>
      <button
        class="btn btn-primary"
        routerLink="/login"
        routerLinkActive="active-list-item"
      >
        LOGIN
      </button>
    </p>
  </div>
</section>
